<%-include('../partials/_header.ejs') %>

<h1>Listes de mes messages ici </h1>
<dl>
    <% for(const message of messages) { %> 
    <dt><%= message.pseudo %></dt>
    <dt><%= message.content %> </dt>
    <% } %> 
</dl>
<%-include('../partials/_footer.ejs') %>